.table-filter-container {
    background-color: #eceff1;
    color: #242424;
    padding: 10px;

    .form-search-btn {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #43a047;
    }

    .form-reset-btn {
        margin-top: 10px;
        margin-bottom: 10px;
        color: red;
    }
}